@page
    <div class="alert-danger">Issue: Folders with dots do not work</div>
    <div class="text-center">
        This tests that a folder with a dot using Razor Webpack Components works as expected
    </div>

<Dot-Folder-UsingRWC-Index />
