@page

<div class="alert-danger">Issue: Folders with dots do not work</div>
<div class="text-center">
    This tests that a folder with an dot using convention works as expected
</div>
<div>
    <a class="nav-link text-dark" href="UsingRWC">Test Using RWC</a>
</div>

<webpack />

