@page

    <div>
        <a class="nav-link text-dark" href="UsingConvention/x.index">Test Using Convention</a>
        <a class="nav-link text-dark" href="UsingRWC/x.index">Test Using RWC</a>
    </div>