@page

<div class="text-center">
    <div class="alert-danger">Issue: Dashes in a folder do not current work</div>
    This tests that a folder with a dash using convention works as expected
</div>
<div>
    <a class="nav-link text-dark" href="UsingRWC">Test Using RWC</a>
</div>


<webpack />

