@page
<div class="text-center">
    This tests that importing a vendor (React) is chunked using convention works as expected
</div>
<div>
    <a class="nav-link text-dark" href="UsingRWC">Test Using RWC</a>
</div>

<webpack />

