@page

<div class="text-center">
    This tests that css only as an entry using convention works as expected
</div>
<div>
    <a class="nav-link text-dark" href="UsingRWC">Test Using RWC</a>
</div>

<webpack />

