@page

<div class="text-center">
    This tests that partials using convention works as expected
</div>

<div>
    <a class="nav-link text-dark" href="UsingRWC">Test Using RWC</a>
</div>

<partial name="Partials/MyPartial" />

<webpack />
