@page

<div class="alert-danger">Issue: dashes in file name do not current work</div>
<div class="text-center">
    This tests that files with a dash using convention works as expected
</div>
<div>
    <a class="nav-link text-dark" href="UsingRWC/x-index">Test Using RWC</a>
</div>

<webpack/>