@page

<div class="alert-danger">Issue: custom named components do not current work</div>
<div class="text-center">
    This tests that using a custom named components works as expected
</div>

<Chicken-Kebab />

